@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Oleo+Script&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.nav-link{
    color:rgb(41, 41, 113);
    
}
.nav-link:hover{
    font-weight: 750;
    color:rgb(7, 7, 58);
}
.view-button1{
    width: 80px;
    height: 40px;
    border-width: 1px;
    background-color: transparent;
    border-radius: 20px;
    margin-left: 60px;
    border-color: white;
    color: white;
    font-weight: 600;
}
.view-button1:hover{
    background-color: white;
    color: blue;
}

.view-button2{
    width: 80px;
    height: 40px;
    border-width: 1px;
    background-color: transparent;
    border-radius: 20px;
    margin-left: 50px;
    border-color: white;
    color: white;
    font-weight: 600;
}
.view-button2:hover{
    background-color: white;
    color: blue;
}
.styled_text{
    font-family: 'Oleo Script', cursive;
    font-size: 50px;
    transform: rotate(-8deg);
}

footer{
     background-color: #EBEBEB;
}


.section_3{

 background-image: linear-gradient(90deg,#002d80,#0076bb);


}
